---
layout: page.njk
title: Home
tags:
  - nav
---


			<h3>The premier destination for modern art in Northern Sweden. Open from 10 AM to 6 PM every day during the summer months.</h3>
			<article>
				<section>
					<div class="kader1">
						<div class="blok1"></div>
						<div class="blok2"></div>
						<div class="blok3"></div>
						<div class="blok4"></div>
						<div class="blok5"></div>
						<div class="blok6"></div>
					</div>
					<h4>Works and Days</h4>
					<p>August 1 — December 1</p>
					<a href="#">Read More</a>
				</section>
				<section>
					<div class="kader2">
						<div class="blok1"><div></div></div>
						<div class="blok2"><div></div></div>
						<div class="blok3"><div></div></div>
					</div>
					<h4>Theatre of Operations</h4>
					<p>October 1 — December 1</p>
					<a href="#">Read More</a>
				</section>
				<section>
					<div class="kader3">
						<div class="blok1"></div>
						<div class="blok2"></div>
					</div>
					<h4>The Life I Deserve</h4>
					<p>August 1 — December 1</p>
					<a href="#">Read More</a>
				</section>
				<section>
					<div class="kader4">
						<div class="blok1"></div>
						<div class="blok2"></div>
						<div class="blok3"></div>
						<div class="blok4"></div>
						<div class="blok5"></div>
					</div>
					<h4>From Signac to Matisse</h4>
					<p>October 1 — December 1</p>
					<a href="#">Read More</a>
				</section>
			</article>
